:root{
  --main-bg-colour: #FFFCE4;
  --accent-color-1:#E78FBC;
  --button-colour:#68243C;
  --accent-colour-2:#CFD5B8;
  --text-colour-1: #FFFFFF;
  --text-colour-2: #000604;

}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 16px;
}
/* Globals */
.grid {
  display: grid;

}
.justify-content-center{
  justify-content: center;
}
.align-items-center{
  align-items: center;
}

.flex{
  display: flex;
}

