/* Logo Font Import */
@import url('https://fonts.googleapis.com/css2?family=Shalimar&display=swap');

:root {
  --main-bg-colour: #fffce4;
  --accent-color-1: #e78fbc;
  --button-colour: #68243c;
  --accent-colour-2: #cfd5b8;
  --text-colour-1: #ffffff;
  --text-colour-2: #000604;
  --accent-colour-3: rgb(136, 136, 136);
}
nav {
  background-color: var(--accent-color-1);
  color: var(--text-colour-1);
  margin: 0 auto;
  padding: 0 5px;
  z-index: 50;
}

.logo {
  color: var(--text-colour-1);
  width: 20%;
  font-size: 30px;
  
}
.logo .nav-title{
font-family: 'Shalimar', cursive;
font-weight: 400;




}
.nav-items {
  list-style-type: none;
}

ul li.nav-link {
  display: inline;
  padding: 3px 20px;
  text-decoration: none;
  font-size: 14px;
}

.cart-btn {
  background: transparent;
  border: none;
  padding: 8px 10px;
  filter: invert(16%) sepia(54%) saturate(1133%) hue-rotate(296deg) brightness(97%) contrast(93%);
}

.nav-link a {
  color: var(--text-colour-1);
  text-decoration: none;
}

.nav-link a:hover {
  border-bottom: 1px solid var(--accent-colour-3);
  border-top: 1px solid var(--accent-colour-3);
}

.extra-info {
  gap: 10px;
}

span.add-cart button {
  background-color: var(--accent-color-1);
  border: var(--text-colour-1);
  color: var(--text-colour-1);
  padding: 5px 8px;
  font-size: 12px;
  border-radius: 10px;
}

span.view-details button {
  background-color: var(--col-3);
  color: var(--col1);
  padding: 5px 8px;
  font-size: 12px;
  border: var(--text-colour-2);
  border-radius: 10px;
}

input.search_bar {
  width: 250px;
  padding: 3px 10px;
  border: none
}

.search_bar:active {
  border: 2px solid var(--accent-colour-3);
}
.cart-count {
  position: absolute;
  top: 0;
  right: 0;
  background: black;
  color: white;
  z-index: 1000;
  font-size: 16px;
  border-radius: 50%;
  padding: 0.5px 5px;
}

.search_and_buttons {

  gap: 100px
}

.nav-link,
.search {
  margin: 5px;
}

.register-btn, .login-btn{
  background-color: var(--button-colour);
  border: none;
  color: var(--text-colour-1);
  padding: 4px 8px;
  
}

.register-btn:hover, .login-btn:hover{
  background-color: var(--accent-colour-3);
}

