*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* Use hyperlins as buttons as lomg as the text decoration is none 
display block or inline-block 
change the color of the text */

/* Give width after position fixed bottom 0 text-align centre   left 0  */