/* Global stylings  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Font Imports  */
/* Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,200;1,300&display=swap");

/* Light Mode Classes */
/* Body light  styling */
#body-bg-light {
  background-color: white;
}
/* navbar light styling */

#nav-bg-light {
  background-color: #f8f9fa;
}
#nav-link-home-light:hover,
#nav-link-about-light:hover,
#nav-link-login-light:hover,
#nav-link-register-light:hover {
  border-bottom: 2px solid #000000;
}

#nav-link-home-light,
#nav-link-about-light,
#nav-link-login-light,
#nav-link-register-light {
  color: black;
}
#logo-light {
  color: #000000;
  font-family: "Shrikhand", cursive;
}
.home-container-light {
  background-color: #f5f5dc;
  height: 100vh;
}

#heading-1-light,
#heading-2-light,
#heading-3-light {
  border-bottom: 2px solid #000;
  border-top: 2px solid #000;
}

#custom-border-light-1,
#custom-border-light-2,
#custom-border-light-3 {
  border-right: 2px solid rgb(26, 26, 26);
}
/* Task card light mode stylings */
#card-body-light {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
#card-body-light:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#card-light {
  background-color: #fff;
  color: #000;
}
/* Dark MOde Classes */
#body-bg-dark {
  background-color: rgb(44, 44, 44);
}
#content-dark {
  color: white;
}
/* Home page Dark mode stylings */
.home-container-dark {
  background-color: #505050;
  height: 100vh;
}
#heading-1-dark,
#heading-2-dark,
#heading-3-dark {
  border-bottom: 2px solid #fff;
  border-top: 2px solid #fff;
}
#custom-border-dark-1,
#custom-border-dark-2,
#custom-border-dark-3 {
  border-right: 2px solid #fff;
}
/* Navbar dark stylings  */
#nav-bg-dark {
  background-color: rgb(6, 88, 188);
}
#nav-link-home-dark:hover,
#nav-link-about-dark:hover,
#nav-link-login-dark:hover,
#nav-link-register-dark:hover {
  border-bottom: 2px solid #fff;
}

#nav-link-home-dark,
#nav-link-about-dark,
#nav-link-login-dark,
#nav-link-register-dark {
  color: #fff;
}

#logo-dark {
  color: #fff;
  font-family: "Shrikhand", cursive;
}
#edit-light {
  color: #25255b;
}

#remove-light {
  color: red;
}
/* Task Card dark */

#card-body-dark {
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
  background-color: #000000;
  color: #f5f5dc;
}
#card-dark {
  background-color: #000000;
  color: #fff;
}
#card-body-dark:hover {
  box-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px,
    rgba(255, 255, 255 0.12) 0px -12px 30px,
    rgba(255, 255, 255, 0.12) 0px 4px 6px,
    rgba(255, 255, 255, 0.17) 0px 12px 13px,
    rgba(255, 255, 255, 0.09) 0px -3px 5px;
}

#edit-dark {
  color: #fff;
}
#remove-dark {
  color: rgb(221, 78, 221);
}
